.DS_Store
.vscode
Lectures/W1Lecture2/inClassDemo
Lectures/W2Lecture2/basic-page-in-class
Lectures/W3Lecture2/flexbox-navigation-complete
Lectures/W4Lecture2/counter/countersREF.js
Lectures/W7Lecture1/displayModeRef
Lectures/W7Lecture1/clockObjectLiteral
Lectures/W7Lecture1/clockClass
Lectures/W7Lecture1/event-object 
Lectures/W7Lecture1/rooms-classes
Lectures/W7Lecture1/rooms-objects
Lectures/W8Lecture1/spaceGameBROKEN
Lectures/W8Lecture1/spaceGameFIXED
# Lectures/W8Lecture2/user-db
Lectures/W9Lecture1/vite-website-complete
Lectures/W10Lecture1
Lectures/W10Lecture2

Lectures/W10Lecture1/gemini-debugging/Gemini debugging example.pdf
# Practical sample solutions/Week2Practical1
# Practical sample solutions/Week2Practical2
Practical sample solutions/Week3Practical1
Practical sample solutions/Week3Practical2
Practical sample solutions/Week4Practical1
Practical sample solutions/Week4Practical2
Practical sample solutions/Week5Practical1
Practical sample solutions/Week5Practical2
Practical sample solutions/Week7Practical1
Practical sample solutions/Week7Practical2
Practical sample solutions/Week7Practical2/contact-form
Practical sample solutions/Week8Practical1
Practical sample solutions/Week8Practical1/counter-OLD
Practical sample solutions/Week8Practical2



# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
