section {
    background-color: black;
    color: white;
}

aside {
    background-color: lightskyblue;
    color: black;
}

/** PERCENT SECTION **/
section#percent, #percent aside {
    padding: 5%;
    margin:10%;
}

/** VIEWPORT SECTION **/
section#viewport, #viewport aside {
    padding: 5vh 5vw;
    margin: 10vh 10vw;
}