body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.blended-bg {
    /**
    Image sources
    https://commons.wikimedia.org/wiki/File:York_Minster_from_the_Lendal_Bridge.jpg
    https://commons.wikimedia.org/wiki/File:New_york_times_square-terabass.jpg
    */
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/OldYork.jpg");
    background-image: -webkit-cross-fade(url("./assets/OldYork.jpg"), url("./assets/NewYork.jpg"), 30%);
    background-image: cross-fade(url("./assets/OldYork.jpg"), url("./assets/NewYork.jpg"), 30%);
}