section {
    border: black solid 1px;
}

/** FIXED SIZE SECTION **/
#fixed-size h1 {
    font-size: 64px;
}

#fixed-size p {
    font-size: 16px;
}

/** RELATIVE SIZE SECTION **/
#relative-size h1 {
    font-size: 4em;
}

#relative-size p {
    font-size: 1em;
}

#relative-size ul {
    font-size: 2em;
}

#relative-size #em-item {
    font-size: 1em;
}

#relative-size #rem-item {
    font-size: 1rem;
}
