body {
    padding: 5vh 10%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2b2b2b;
}

.user {
    display:grid;
    grid-template-columns: 100px 20% 20%;
    gap: 1em;
    padding: 1em;
    margin-bottom: 2em;
    background-color: #7ec6f6;
    border: solid 1px #5c199b;
    box-shadow: 8px 8px #5c199b;
}

.user img {
    border-radius: 50%;
    border: dotted 2px #2b2b2b;
}

.user h2 {
    margin-top:0;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1em;
}

button {
    padding: 0.5em 1em;
    border: none;
    background-color: #2b2b2b;
    color: #f0ffff;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background-color: #5c199b;
}