* {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.otherPages a, .otherPages {
    color: #e9db1c;
}