body {
    font-size: 20px;
}

.user {
    display:grid;
    grid-template-columns: 100px 20% 20%;
    margin-bottom: 1em;
}

.user img {
    border-radius: 50%;
    border: solid 2px #000;
    margin-right: 1em;
    margin-top: 50%;
    margin-bottom: auto;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1em;
}