body {
    font-family:sans-serif;
    color:#201f1f;
    font-size: 18px;
    margin:0;
    padding:0;
}

/* Ensure click events only go to the button, not it's children */
button > * {
    pointer-events: none;
}

.button-wrapper {
    float:right;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.button-wrapper {
    display: flex;
    align-items: center;
    gap: 1em;
}

.board {
    width:300px;
    height:300px;
    margin:auto;
    background-color:#cccccc;
    padding:2px;
    clear:both;
} 

.tile-container {
    width:100px;
    height:100px;
    float:left;
    position: relative;
}

.tile {
    width:98px;
    height:98px;
    margin:1px;
    background-color: #f0ffff;
    position:absolute;
    padding:0;
}

.tile > img {
    width:98px;
    height:98px;
    box-sizing: border-box;
}

.tile:focus {
    outline: 6px solid #00d9ff; 
    outline-offset: -4px;
}

.menu-item:hover {
    color: #ff0000;
}

/** skip link **/
.screenreader-only {
    position: absolute;
    text-align:center;
    left: -110vw;
    z-index: 1000;
}

.skip {
    margin: 24px;
    padding: 6px;
    transform: translate(-50%, 0);
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
}

.skip:focus {
    left: 50vw;
}