body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
    font-size:14px;
    padding:24px;
}

.anim-bg {
    background-color: #EEE;
    padding: 12px;
    border-radius: 6px;
}

/** 1. SPINNER **/
.spinner {
    font-size: 3em;
    color:#00C2C7;
    animation: spin 2s infinite linear;
    margin:auto 50%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/** 2. GRADIENT EFFECT **/
.gradient-demo {
    width: 50%;
    height: 40px;
    margin:auto 25%;
    background-color:#00C2C7;
}

.gradient-demo:hover {
    cursor: pointer;
    animation: moving-gradient 0.5s linear;
}

@keyframes moving-gradient {
    0% {
        background-image:linear-gradient(to right, #FFF, #00C2C7, #00C2C7, #00C2C7, #00C2C7, #00C2C7);
    }
    20% {
        background-image:linear-gradient(to right, #00C2C7, #FFF, #00C2C7, #00C2C7, #00C2C7, #00C2C7);
    }
    40% {
        background-image:linear-gradient(to right, #00C2C7, #00C2C7, #FFF, #00C2C7, #00C2C7, #00C2C7);
    }
    60% {
        background-image:linear-gradient(to right, #00C2C7, #00C2C7, #00C2C7, #FFF, #00C2C7, #00C2C7);
    }
    80% {
        background-image:linear-gradient(to right, #00C2C7, #00C2C7, #00C2C7, #00C2C7, #FFF, #00C2C7);
    }
    100% {
        background-image:linear-gradient(to right, #00C2C7, #00C2C7, #00C2C7, #00C2C7, #00C2C7, #FFF);
    }
}

/** 3. PROGRESS BAR **/
.bar-container {
    width: 80%;
    height: 40px;
    margin: 40px 10%;
    box-sizing: border-box;
    border: 1px solid #CCC;
    border-radius: 20px;
    overflow: hidden;
    box-shadow:inset 0 0 10px #CCC;
}

.bar-background {
    height:100%;
    background-color:#00C2C7;
    box-shadow:inset 0 0 16px rgb(0, 100, 104);
    width: "100%";
    animation: progress 10s linear infinite;
}

@keyframes progress {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}



/** MOCK PAGE **/
.page-holder {
    border: solid 1px #333;
    width: 80%;
    margin: 40px 10%;
    padding:20px;
    font-size:1.2em;
    line-height: 2em;
    box-sizing: border-box;
    overflow: hidden;
    position:relative;
}

/** 4. HAMBURGER MENU **/
.page-content {
    margin-left: 32px;
}

.menu {
    width:200px;
    height: 100%;
    color: #FFF;
    background-color: #000;
    position: absolute;
    font-variant: small-caps;
    top:0;
    left:0;
    bottom:0;
    padding:12px;
    animation: open-menu 2s ease-in infinite alternate;
}

.menu h3 {
    margin-top: 0;
}

.menu .btn {
    float:right;
    cursor: pointer;
    background: none;
    color: #FFF;
    font-size: 1.2em;
    border:none;
    padding:0;
    margin:0;
}

.menu-content {
    max-width: 156px;
}

.menu-content a {
    text-decoration: none;
    color: #FFF;
}

.menu-content a:hover {
    text-decoration: underline;
    color: #FFF;
}

@keyframes open-menu {
    0% {
        left:-180px; 
    }

    25% {
        left:-180px
    }

    50% {
        left: 0px;
    }
    100% {
        left: 0px;
    }
}



/** REDUCED MOTION **/
@media (prefers-reduced-motion: reduce) {
    .spinner, .gradient-demo:hover  {
        animation: none;
    }
}