/* I am a CSS comment. Notice I am different from an HTML comment */
body {
    margin-left:50px;
    margin-right:50px;
    padding:0px;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    color: #a11f1f;
}

.title {
    font-size: 48px;
    margin-bottom: 0;
}

.subtitle {
    margin-top:0;
}