#deck {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 1rem;
}

#deck img {
    max-width: 6vw;
}

#controls {
    margin-top: 2rem;
    display:flex;
    justify-content: center;
    gap: 1rem;
}
